*{
    font-family: cursive;
}

.header{
    font-size: 40px;
    text-align: center;
}

.nav{
    display: flex;
    padding: 3px;
    font-size: 20px;
}

.nav span{
    margin: 10px;
}
.nav span a{
    color: #000;
    border:solid #ffffff 2px;
    text-decoration: none;
    transition: ease-in-out 0.5s;
}
.nav span a:hover{
    border-bottom:solid #000 2px;
}


.container{
    padding: 5px;
    display: flex;
}
.aside{
    padding: 5px;
    border: solid red 2px;
    width:30%;
}

.content{
    padding: 5px;
    border: solid red 2px;
    width:68%;
}
.inner-container{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.inner-container p{
    font-size: 20px;
}
.inner-container img{
    float:left;
    height: 40%;
}

.flex{
    display: flex;
}
.width{
    width:23%;
}

.details-img{
    width: 50%;
}


@media only screen and (max-width: 700px) {
    *{
        font-size: 12px;
    }
    .details{
        width: 100%;
        flex-direction: column;
    }
    .container{
        flex-wrap: wrap;
    }
    .details-view{
        width: 200px;
        margin: 5px;
        float: left;
        display: flex;
    }
    .inner-container img{
        width:70%;
        height: 50%;
    }
    .width{
        width:100%;
    }
    .details-img{
        width: 50%;
        height: 60%;
    }
  } 